@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,300&family=Varela&display=swap');

.post-title
{
    display: flex;
    justify-content: left;
    margin-top: 4vw;
    margin-bottom: 0.5vw;
    font-size: 2vw;
    font-family: "Varela", sans-serif;
}

.post-tag-title, .post-desc-title, 
.post-code-title, .post-status-title, 
.post-author-title, .post-date-title
{
    margin-bottom: 0.5vw;
    font-size: 1.2vw;
    font-family: "Varela", sans-serif;
}

.all-post-tags, .edit-and-delete
{
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}

.post-tag
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    padding: 0.2vw 0.3vw 0.2vw 0.3vw;
    border: 2px solid #7e7e7e;
    color: #7e7e7e;
    background-color: white;
    letter-spacing: 0.1vw;
    overflow: hidden;
    font-size: 0.8vw;
}

.post-desc-title, .post-code-title, .post-status-title, 
.post-author-title, .post-date-title
{
    margin-bottom: 0.5vw;
    font-size: 1.2vw;
    font-family: "Varela", sans-serif;
}

.post-desc, .post-author, .post-status-content
{
    margin-left: 0.3vw;
    margin-top: 0.2vw;
    font-size: 0.85vw;
    font-family: "Montserrat", sans-serif;
    color: #4b4b4b;
    margin-bottom: 2vw;
    letter-spacing: 0.03vw;
}

.post-code-img
{
    margin-left: 0.3vw;
    max-width: 55vw;
    margin-bottom: 2vw;
}

.post-status
{
    display: flex;
    align-items: center;
}

.post-status-content-special
{
    margin-left: 0.3vw;
    margin-top: 0;
    margin-right: 1vw;
    font-size: 0.85vw;
    font-family: "Montserrat", sans-serif;
    color: #4b4b4b;
    letter-spacing: 0.03vw;
}

.solve-toggle, .post-edit-toggle, .post-delete-toggle
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin-right: 0.5vw;
    padding: 0.3vw 0.5vw 0.3vw 0.5vw;
    border: 2px solid #7e7e7e;
    color: #7e7e7e;
    background-color: white;
    letter-spacing: 0.1vw;
    overflow: hidden;
    font-size: 0.8vw;
}

.solve-toggle:hover, .post-edit-toggle:hover, .post-delete-toggle:hover
{
    color: #2D3142;
    background-color: #d4d4d4;
    text-decoration: none;
}

.post-date
{
    margin-left: 0.3vw;
    margin-top: 0.2vw;
    font-size: 0.85vw;
    font-family: "Montserrat", sans-serif;
    color: #4b4b4b;
    margin-bottom: 1vw;
    letter-spacing: 0.03vw;
}